body {
	margin: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.guido-avatar {
	width: 150px;
}

.card {
	display: flex;
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	justify-content: space-evenly;
	text-align: center;
	color: #2b2839;
	background: #ddebf8;
	border-bottom: 2px solid #9883db;
	border-left: 2px solid #9883db;
	border-radius: 8px;
	box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease-in-out;
}

.blue-dotted-border {
	border: 2px dotted rgb(25, 172, 195);
}
